<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MoMA Application</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <h1 style="text-align: center"> MoMA Application</h1>
  <div class="container" style="text-align: center">
    <p>This is an app visualizing the gender distribution of the artists participating in MoMA exhibitions from 1929-1989.</p>
    <p>You can navigate my application through the two main search function:</p>
    <a href="/search">Search a Year Range</a>
    <a href="/search">Search a Specific Year</a>
    <p>Or view all the information at once</p>
    <a href="/count/1929/1990">View All</a> 
</div>
</body>

</html>
