<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MoMA Application</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <h1 style="text-align: center"> MoMA Application</h1>
  <div class="container" style="text-align: center">
    <input id = "csrf_token" name = "csrf_token" type = "hidden" />
    <label for = "fromyear">From Year</label><br>
    <input type="integer" name="fromyear" value=""><br>
    <br>

    <label for = "toyear">To Year</label><br>
    <input type="integer" name="toyear" value=""><br>
    <br>
    <br>

    <input type="submit">
</div>

<script>

</script>

</body>

</html>
